#- PORT the port on which the application will run
PORT=8080

#- DATABASE the type of database to be used supported values are 'mssql', 'postgres', 'mongodb' etc.
DATABASE=mssql
#- DATABASE_HOST the host address of the database server
DATABASE_HOST=localhost
#- DATABASE_PORT the port number on which the database server is listening
DATABASE_PORT=1433
#- DATABASE_USER the username for authenticating with the database server
DATABASE_USER=sa
#- DATABASE_PASSWORD the password for authenticating with the database server
DATABASE_PASSWORD=
#- DATABASE_NAME the name of the database to connect to
DATABASE_NAME=benchmark
#- DATABASE_MIN_POOL_SIZE the minimum number of connections in the database connection pool
DATABASE_MIN_POOL_SIZE=1
#- DATABASE_MAX_POOL_SIZE the maximum number of connections in the database connection pool
DATABASE_MAX_POOL_SIZE=2
